* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}
main {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(20, 1fr) ;
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
    width: 100vw;
    font-size: 1em;
}

h3 {
    font-size: 2.5em;
    color: #96A8AE;
    margin-left: 0em;
}

/*header*/
.topnav {
    display: flex;
    grid-area: 1/ 2/ 1/ -1;
    background: #111111;
    overflow: hidden;
    align-items: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
}
/*sidenavbar*/
.cell-2 {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    grid-area: 2/ 1/ -1/ 4;
    background: #96A8AE;
    padding: 1.2em;
    font-size: 1.6em;
    font-family: Helvetica, serif;
    list-style: none;
}
.cell-2 a {
    display: flex;
    flex-flow: column;
    font-size: .9em;
    margin-left: 0em;
    font-family: Helvetica, serif;
    text-decoration: none;
    align-content: space-between;
}
/*article1*/
.cell-3 {
    grid-area: 2/ 5/ 7/ 16;
    background: white;
    color: black;
    font-family: Helvetica, serif;
    font-size: 1em;
    padding-top: 2em;
}
/*article2*/
.cell-4 {
    grid-area: 7/ 4/ 7/ 16;
    background: white;
    color: #111111;
    font-family: Helvetica, serif;
    font-size: 1em;
    padding-top: 2em;
}
/*h3*/
.cell-5 {
    grid-area: -1/ 4/ 9/ 10;
    background: #fdda00;
}
/*ad1*/
.cell-6 {
    grid-area: -1/ 10/ 9/ -1;
    background: #fdda00;
}
/*ad2*/
.cell-7 {
    grid-area: -1/ 4/ 11/ 7;
    background: #fdda00;
}
/*ad3*/
.cell-8 {
    grid-area: -1/ 7/ 11/ 10;
    background: #fdda00;
}
/*ad4*/
.cell-9 {
    grid-area: -1/ 10/ 11/ -1;
    background: #fdda00;
}
/*ad5*/
.cell-10 {
    grid-area: -1/ 4/ -1/ -1;
    background: #fdda00;
}
/*ad6*/
.cell-11 {
    grid-area: -1/ 4/ -1/ -1;
    background: #fdda00;
}
/*bottomnav*/
.cell-12 {
    grid-area: -1/ 4/ -1/ -1;
    background: #fdda00;
}
/*bottombanner*/
.cell-13 {
    grid-area: -1/ 4/ -1/ -1;
    background: #fdda00;
}
/*footer*/
.cell-14 {
    grid-area: -1/ 4/ -1/ -1;
    background: #fdda00;
}
/*logo*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/ 1/ 1/ 1;
    background: #333333;
    color: white;
    font-size: 1.1em;
}
main div {
    font-size: 2em;
    color: black;
    background: grey;
    display: flex;
    justify-content: flex-start;
}